Django==2.2.7
django-secure==1.0.2
psycopg2==2.7.1
djangorestframework==3.11.0
django-cors-headers==3.4.0
boto==2.49.0
django-environ==0.4.4
gunicorn==20.0.4
django-storages==1.9.1
geocoder==1.38.1
jsonfield==3.0.0
django-enumfield==2.0.1
django-jet==1.0.7
spatialite==0.0.3
python-binary-memcached==0.29.0
django-bmemcached==0.3.0
django-nose==1.4.6
django-smart-selects==1.5.6
django-tinymce==3.0.1
django-import-export==2.3.0

# This is the most recent version that is compatible with v1.x django-import-export.
tablib==2.0.0
